﻿@model IEnumerable<TodoModel>

<div class="bg-dark text-white">
    <div class="card border-0 m-1 p-1 bg-dark">
        @if (Model.Count() == 0)
        {
            <h3>No Todo's To display</h3>
        }
        else
        {
            @foreach (var m in Model)
            {
                <partial name="TodoView" model="m" />
            }
        }
    </div>
</div>
