﻿@model TodoModel

<form method="post" enctype="multipart/form-data" asp-action="Create" asp-controller="Todo">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="text-light">
        <div class="form-group">
            <label asp-for="Name">Todo's Name</label>
            <input asp-for="Name" class="form-control" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" required></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Status">Todo's Status</label>
            <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList<TodoStatus>()" required>
                <option value="">Please select status</option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DueTime"></label>
            <input asp-for="DueTime" class="form-control" />
            <span asp-validation-for="DueTime" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="TodoListID" value="@ViewBag.ListID" />
        <input type="hidden" asp-for="ID" value="0" />

        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-primary bg-dark btn-outline-light text-light font-weight-bold m-1" />
            <a class="btn btn-info btn-sm pull-right float-right m-1" asp-controller="TodoLists" asp-action="Details" asp-route-id="@ViewBag.ListID">Back</a>
        </div>
    </div>
</form>