﻿@model TodoModel

@{
    ViewData["Title"] = "Edit";
}
<div class="text-light">
    <h1>Edit</h1>

    <h4>Todo</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <input asp-for="CreationTime" type="hidden" />
                <input asp-for="TodoListID" type="hidden" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status"></label>
                    <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList<TodoStatus>()" required>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DueTime" class="control-label"></label>
                    <input asp-for="DueTime" class="form-control" />
                    <span asp-validation-for="DueTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-dark text-light font-weight-bold btn-outline-light float-left m-1" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>

    <a class="btn btn-info btn-sm pull-right float-right m-1" asp-controller="TodoLists" asp-action="Details" asp-route-id="@Model.TodoListID">
        Back
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
