﻿@model JsonTodoViewModel
@{
    Layout = "";

}
<div>

    <h3>@Model.JsonTodoList</h3>

    @foreach (var todo in Model.JsonTodos)
    {
        <h5>@todo</h5>
    }
</div>

<a asp-controller="TodoLists" asp-action="Index">Back</a>


