﻿@model TodoListModel

<form method="post" enctype="multipart/form-data" asp-action="Create" asp-controller="TodoLists">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="text-light">
        <div class="form-group">
            <h3>Create New Todo List</h3>
        </div>
        <div class="form-group text-light">
            <label asp-for="ListName">Todo List Name</label>
            <input asp-for="ListName" class="form-control" required />
            <span asp-validation-for="ListName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IsHidden"></label>
            <input asp-for="IsHidden" type="checkbox" />
        </div>

        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-primary bg-dark btn-outline-light text-light font-weight-bold m-1" />
            <a class="btn btn-info btn-sm pull-right float-right m-1" asp-controller="TodoLists" asp-action="Index">Back</a>
        </div>
    </div>
</form>
