﻿@model TodoListViewModel

<div class="card border-0 bg-dark text-white m-1 p-1">
    <h3 class="card-title display-4">Title: @Model.TodoList.ListName</h3>
    <div class="bg-faded p-1">
    </div>
    <div class="bg-faded p-1">
        <h4>
            Creation Time: @Model.TodoList.CreationTime
        </h4>
    </div>
    <div class="bg-faded p-1">
        <h4>
            IsHidden : @Model.TodoList.IsHidden
        </h4>
    </div>
    <div class="m-2 p-1">
        <a class="btn btn-primary bg-dark btn-outline-light text-light font-weight-bold float-left m-1" asp-controller="Todo" asp-action="Create" asp-route-listid="@Model.TodoList.ID">Add Todo</a>
        <form method="post" enctype="multipart/form-data" asp-controller="TodoLists" asp-action="Delete" asp-route-id="@Model.TodoList.ID">
            <input type="submit" onclick="return confirm('Item will be deleted.')" value="Delete" class="btn bg-danger btn-outline-light text-light font-weight-bold float-right m-1" />
        </form>
        <a class="btn btn-secondary btn-outline-light font-weight-bold float-right m-1" asp-controller="TodoLists" asp-action="Index">Back</a>
        <a class="btn btn-outline-light float-right font-weight-bold m-1" asp-controller="TodoLists" asp-action="Edit" asp-route-id="@Model.TodoList.ID">Edit</a>
    </div>
    <h3> Todo's</h3>
    @foreach (var item in Model.Todos)
    {
        <partial name="TodoView" model="item" />
    }
</div>