﻿@model TodoListModel

@{
    ViewData["Title"] = "Edit";
}
<div class="container text-light">
    <h1>Edit</h1>

    <h4>Todo List</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="ListName" class="control-label"></label>
                    <input asp-for="ListName" class="form-control" />
                    <span asp-validation-for="ListName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsHidden"></label>
                    <input type="checkbox" asp-for="IsHidden" />
                </div>
                <div class="form-group">
                    <label asp-for="CreationTime" class="control-label"></label>
                    <input asp-for="CreationTime" class="form-control" />
                    <span asp-validation-for="CreationTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-dark text-light font-weight-bold btn-outline-light float-left m-1" />
                </div>
            </form>
        </div>
    </div>
    <a class="btn btn-info btn-sm pull-right float-right m-1" asp-controller="TodoLists" asp-action="Details" asp-route-id="@Model.ID">
        Back
    </a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
