﻿@model IEnumerable<TodoListModel>
<div class="bg-dark text-white">
    <h1> Todo Lists</h1>
    <div class="m-1 p-1">
    </div>
    <div class="card border-0 m-1 p-1 bg-dark">

        @foreach (var m in Model)
            {
        <partial name="TodoListView" model="m" />
            }
        
        <div class="m-1 p-1">
            <a class="btn btn-primary bg-dark btn-outline-light text-light font-weight-bold float-right m-1" asp-controller="TodoLists" asp-action="Create">Create new</a>
        </div>
    </div>
</div>
