﻿@model TodoListModel


<div class="card shadow p-2 mb-2 rounded bg-info rounded-pill text-whit m-1 ">
    <div class="container row p-1 align-items-center pt-2">
        <h2 class="col-4 card-title text-center">
            @Model.ListName
        </h2>
        <div class="col-4 badge badge-warning">
            <h6 class="pt-2">Creation Time: @(Model.CreationTime.ToString("dd/MM/yy HH:mm"))</h6>
        </div>

        <span class="col-4 d-flex justify-content-center ">
            <a class="btn btn-info btn-outline-warning text-light font-weight-bold m-1" asp-controller="TodoLists" asp-action="Details" asp-route-id="@Model.ID">
                Details
            </a>
            <form method="post" enctype="multipart/form-data" asp-controller="TodoLists" asp-action="Delete" asp-route-id="@Model.ID">
                <input type="submit" onclick="return confirm('List will be deleted.')" value="Delete" class="btn btn-info btn-outline-danger text-light font-weight-bold m-1" />
            </form>
            <a class="btn btn-info btn-outline-success text-light font-weight-bold m-1" asp-controller="TodoLists" asp-action="Copy" asp-route-id="@Model.ID">
                Copy
            </a>
        </span>
    </div>
</div>
